# IDE files
.idea/
# if a symlink
.idea
_site
/_site
_site/
_site/*
.sass-cache
.sass-cache/
.sass-cache/*
.jekyll-cache

/favicon.ico
/pagebuilder/buildall.bat
/logical_order.txt
/changes.txt
/10-contribute.txt
/3_master_merchant_original.txt
