---
layout: default
title: Installing LuaRocks
---
<h1 class="header1">{{ page.title }}</h1>
<hr>
<h1 class="grhead1">Main Table of Contents</h1>
<div id="tableOfContents" class="grid-toc">
    <div class="toc1">
        <h2 class="grhead2"><a href="houses.html">Housing</a></h3>
        <h2 class="grhead2"><a href="3-master_merchant.html">Master Merchant</a></h3>
    </div>
    <div class="toc2">
        <h2 class="grhead2"><a href="1-install_luarocks.html">Installing LuaRocks</a></h3>
        <h2 class="grhead2"><a href="2-setup_intellij.html">Setup IntelliJ</a></h3>
    </div>
    <div class="toc3">
        <h2 class="grhead2"><a href="4-french.html">Complementaire En Francais</a></h3>
    </div>
</div>
<p class="empty">&nbsp;</p>
<div>
<!-- Needed, sets the top of the page just before the H1 Title -->
<h2 class="header2" id="Contents">Contents</h2>
<p class="list-1">&bull;&nbsp; <a href="#Preface">1.1 Preface</a></p>
<p class="list-1">&bull;&nbsp; <a href="#Intent">1.2 Intent</a></p>
<p class="list-1">&bull;&nbsp; <a href="#DownloadthelegacyWindowspackage">1.3 Download the legacy Windows package</a></p>
<p class="list-1">&bull;&nbsp; <a href="#InstallingthelegacyWindowspackage">1.4 Installing the legacy Windows package</a></p>
<p class="list-1">&bull;&nbsp; <a href="#Aftertheinstallcompletes">1.5 After the install completes</a></p>
<p class="list-1">&bull;&nbsp; <a href="#Nowwhat">1.6 Now what</a></p>
<h2 class="header2" id="Preface">1.1 - Preface</h2>
<p class="empty">&nbsp;</p>
<p>While attempting to use IntelliJ for running Lua files it was recommended by the kind ESOUI community that I install LuaRocks. They did mention it was a packadge manager but my intention was to have a stand alone Interpreter for Lua to be used with the Lua plugin I installed for IntelliJ. Installing it not having written the .bat file was an experience.</p>
<p class="empty">&nbsp;</p>
<p>They do offer detailed <a  href="https://github.com/luarocks/luarocks/wiki/Installation-instructions-for-Windows" >install instructions for Windows</a> however, I noticed it was more for intermediate to advanced users. It covers where to install, configuring the destinations, configuring the Lua interpreter, and compiler configuration. Under the heading `Making a system-wide repository` which was misleading to me because I thought I would be making a Git repository that was system wide.</p>
<p class="empty">&nbsp;</p>
<p>Further down the page there is information for making a self-contained installation, Picking the Lua interpreter and link to <a  href="https://github.com/luarocks/luarocks/wiki/Using-LuaRocks" >using LuaRocks</a></p>
<p class="empty">&nbsp;</p>
<p>However, nothing to get the software installed so that you can follow along step by step and read each section to configure the software for use. Nor was there a section on how to use Lua if you wanted to read <a  href="https://www.lua.org/docs.html" >Lua documentation</a> to understand the basics of the Lua language.</p>
<p class="empty">&nbsp;</p>
<h2 class="header2" id="Intent">1.2 - Intent</h2>
<p class="empty">&nbsp;</p>
<p>I will explain how to install LuaRocks below. Setting up IntelliJ to use LuaRock will be explained once I figure out how to do that.</p>
<p class="empty">&nbsp;</p>
<h2 class="header2" id="DownloadthelegacyWindowspackage">1.3 - Download the legacy Windows package</h2>
<p class="empty">&nbsp;</p>
<p>You are going to want the <B>legacy Windows package, includes Lua 5.1</B> file from the link below.</p>
<p class="empty">&nbsp;</p>
<p><a  href="http://luarocks.github.io/luarocks/releases/" >luarocks</a></p>
<p class="empty">&nbsp;</p>
<p>{% include image.html file="img/download_luarocks.jpg" alt="Download" %}</p>
<p class="empty">&nbsp;</p>
<p>This will have all you need including Lua exe files.</p>
<p class="empty">&nbsp;</p>
<h2 class="header2" id="InstallingthelegacyWindowspackage">1.4 - Installing the legacy Windows package</h2>
<p class="empty">&nbsp;</p>
<p class="note"> You will be installing this from a command prompt.</p>
<p class="empty">&nbsp;</p>
<p>To install the legacy windows packadge you need unzip the download to a folder and navagate to that first in order to run the install.bat file. I exctracted my file in the downloads folder.</p>
<p class="empty">&nbsp;</p>
<p>{% include image.html file="img/download_loc_luarocks.jpg" alt="location" %}</p>
<p class="empty">&nbsp;</p>
<p>Once there type <code>install /P C:\Lua51 /L</code> which will install luarocks and Lua to the <code>C:\Lua51</code></p>
<p class="empty">&nbsp;</p>
<p>{% include image.html file="img/install_cmd_luarocks.jpg" alt="location" %}</p>
<p class="empty">&nbsp;</p>
<p>If you navagte to <code>C:\Lua51</code> from the windwos explorer you should now have Lua installed.</p>
<p class="empty">&nbsp;</p>
<p>{% include image.html file="img/installed_luarocks.jpg" alt="location" %}</p>
<p class="empty">&nbsp;</p>
<h2 class="header2" id="Aftertheinstallcompletes">1.5 - After the install completes</h2>
<p class="empty">&nbsp;</p>
<p>After the install completes it will explain in detail what happend as shown in the spoiler below.</p>
<p class="empty">&nbsp;</p>
<input type="checkbox" id="spoiler1" />
<label for="spoiler1">Initial Output</label>
<div class="main-content">
<pre>
C:\Users\Redacted\Downloads\luarocks-3.3.1-win32>install /P C:\Lua51 /L

C:\Users\Redacted\Downloads\luarocks-3.3.1-win32>rem=rem --[[--lua
LuaRocks 3.3.x installer.


========================
== Checking system... ==
========================


Admin privileges available for installing
Looking for Microsoft toolchain matching runtime MSVCR80 and architecture x86
    checking: HKLM\Software\Microsoft\VisualStudio\8.0\Setup\VC
    checking: HKLM\Software\Microsoft\VCExpress\8.0\Setup\VS
    Cannot auto-detect Windows SDK version from MSVCR80

==========================
== System check results ==
==========================

Will configure LuaRocks with the following paths:
LuaRocks        : C:\Lua51
Config file     : C:\Lua51\config-5.1.lua
Rocktree        : C:\Lua51\systree

Lua interpreter : C:\Lua51\lua5.1
    binaries    : C:\Lua51
    libraries   : C:\Lua51
    includes    : C:\Lua51\include
    architecture: x86
    binary link : lua5.1.lib with runtime MSVCR80.dll

Compiler        : Microsoft (make sure it is in your path before using LuaRocks)


Press <ENTER> to start installing, or press <CTRL>+<C> to abort. Use install /?
for installation options.


============================
== Installing LuaRocks... ==
============================


Installing LuaRocks in C:\Lua51...
Installed the LuaRocks bundled Lua interpreter in C:\Lua51
Created LuaRocks command: C:\Lua51\luarocks.bat
Created LuaRocks command: C:\Lua51\luarocks-admin.bat

Configuring LuaRocks...
Created LuaRocks hardcoded settings file: C:\Lua51\lua\luarocks\core\hardcoded.l
ua
Created LuaRocks config file: C:\Lua51\config-5.1.lua

Creating rocktrees...
Created system rocktree    : "C:\Lua51\systree"
Created local user rocktree: "C:\Users\Redacted\AppData\Roaming\LuaRocks"

Loading registry information for ".rockspec" files
</pre>
</div>
<p class="empty">&nbsp;</p>
<p>At the end of the installation it will explain that you may need want to add things to the path. If you closed that, I list it below as a reference.</p>
<p class="empty">&nbsp;</p>
<pre>
You may want to add the following elements to your paths;
Lua interpreter;
  PATH     :   C:\Lua51
  PATHEXT  :   .LUA
LuaRocks;
  PATH     :   C:\Lua51
  LUA_PATH :   C:\Lua51\lua\?.lua;C:\Lua51\lua\?\init.lua
Local user rocktree (Note: %APPDATA% is user dependent);
  PATH     :   %APPDATA%\LuaRocks\bin
  LUA_PATH :   %APPDATA%\LuaRocks\share\lua\5.1\?.lua;%APPDATA%\LuaRocks\share\l
ua\5.1\?\init.lua
  LUA_CPATH:   %APPDATA%\LuaRocks\lib\lua\5.1\?.dll
System rocktree
  PATH     :   C:\Lua51\systree\bin
  LUA_PATH :   C:\Lua51\systree\share\lua\5.1\?.lua;C:\Lua51\systree\share\lua\5
.1\?\init.lua
  LUA_CPATH:   C:\Lua51\systree\lib\lua\5.1\?.dll

Note that the %APPDATA% element in the paths above is user specific and it MUST
be replaced by its actual value.
For the current user that value is: C:\Users\Redacted\AppData\Roaming.
</pre>
<p class="empty">&nbsp;</p>
<h2 class="header2" id="Nowwhat">1.6 - Now what</h2>
<p class="empty">&nbsp;</p>
<p>Simple. It is installed. Doesn't mean I can use it with IntelliJ and the Emmy Lua plugin I have because now I have to research that. However, it is installed.</p>
</div>
