---
layout: default
title: Master Merchant
---
<h1 class="header1">{{ page.title }}</h1>
<hr>
<h1 class="grhead1">Main Table of Contents</h1>
<div id="tableOfContents" class="grid-toc">
    <div class="toc1">
        <h2 class="grhead2"><a href="houses.html">Housing</a></h3>
        <h2 class="grhead2"><a href="3-master_merchant.html">Master Merchant</a></h3>
    </div>
    <div class="toc2">
        <h2 class="grhead2"><a href="1-install_luarocks.html">Installing LuaRocks</a></h3>
        <h2 class="grhead2"><a href="2-setup_intellij.html">Setup IntelliJ</a></h3>
    </div>
</div>
<p class="empty">&nbsp;</p>
<div>
<!-- Needed, sets the top of the page just before the H1 Title -->
<h2 class="header2" id="Contents">Contents</h2>
<p class="list-1">&bull;&nbsp; <a href="#Authors">3.1 Authors</a></p>
<p class="list-1">&bull;&nbsp; <a href="#VersionHistory">3.2 Version History</a></p>
<p class="list-1">&bull;&nbsp; <a href="#BackgroundScanningDepreciated">3.3 Background Scanning Depreciated</a></p>
<p class="list-1">&bull;&nbsp; <a href="#ThreestatesofLibHistoirecache">3.4 Three states of LibHistoire cache</a></p>
<p class="list-2">&bull;&nbsp; <a href="#Unlinked">3.4.1 Unlinked</a></p>
<p class="list-2">&bull;&nbsp; <a href="#Linkinginprogress">3.4.2 Linking in progress</a></p>
<p class="list-2">&bull;&nbsp; <a href="#Linked">3.4.3 Linked</a></p>
<p class="list-1">&bull;&nbsp; <a href="#TenDayScan">3.5 Ten Day Scan</a></p>
<p class="list-2">&bull;&nbsp; <a href="#SelectAGuild">3.5.1 Select A Guild</a></p>
<p class="list-2">&bull;&nbsp; <a href="#WhenEisnolongershowing">3.5.2 When E is no longer showing</a></p>
<p class="list-2">&bull;&nbsp; <a href="#LibHistoireGUI">3.5.3 LibHistoire GUI</a></p>
<p class="list-2">&bull;&nbsp; <a href="#FinalizetheTenDayScan">3.5.4 Finalize the Ten Day Scan</a></p>
<p class="list-1">&bull;&nbsp; <a href="#UpdateYourGuildHistoryEachDay">3.6 Update Your Guild History Each Day</a></p>
<p class="list-1">&bull;&nbsp; <a href="#Erroneoustimestamp">3.7 Erroneous timestamp</a></p>
<p class="list-1">&bull;&nbsp; <a href="#Whatisbeingscanned">3.8 What is being scanned</a></p>
<p class="list-2">&bull;&nbsp; <a href="#Afewdaysofsalesfrom109entries">3.8.1 A few days of sales from 109 entries</a></p>
<p class="list-2">&bull;&nbsp; <a href="#4daysofsalesfrom8031entries">3.8.2 4 days of sales from 8031 entries</a></p>
<p class="list-1">&bull;&nbsp; <a href="#SalesWeek">3.9 Sales Week</a></p>
<h2 class="header2" id="Authors">3.1 - Authors</h2>
<p class="empty">&nbsp;</p>
<p>Philgo68, Khaibit, dOpiate, sirinsidiator, Garkin, Aldanga, Sharlikran, Dolgubon</p>
<p class="empty">&nbsp;</p>
<h2 class="header2" id="VersionHistory">3.2 - Version History</h2>
<p class="empty">&nbsp;</p>
<p>Apparently for version 2.2.0 there was an experimental turbo mode added to MM. From the change log it appears that this was removed by request from Zenimax. However, even I noticed when you tried to download 2.2.1 which had turbo mode removed, you received a file named <font class="purple">Master Merchant 2.2.0.zip</font>. If you tried to engage turbo mode it was still available even if it didn't work as expected.</p>
<p class="empty">&nbsp;</p>
<p>Aug 01 2020 after the kiosk flip was announced Philgo68 posted that he would be uploading a new version, which would be 2.3.1. From the start it had a small bug in it that prevented it from working. Then after that was fixed people started reporting that the Master Merchant window would not update when you were viewing your personal sales but that all guild sales was still updating properly.</p>
<p class="empty">&nbsp;</p>
<p>Upon examination of the code 2.3.1 had turbo mode removed which was not really removed in 2.2.1 (2.2.0). In addition to that on the description page it was mentioned that there was Simple Indexing and Simple Scanning. Oddly those options included new options in the Addons menu to toggle the features on and off. These options were not present in 2.2.1.</p>
<p class="empty">&nbsp;</p>
<p>This makes me believe that 2.3.1 was really intended to be the proposed 2.2.1 but somehow the upload never went through properly. I am glad Philgo68 uploaded the version as it has helped me understand the code a bit more.</p>
<p class="empty">&nbsp;</p>
<h2 class="header2" id="BackgroundScanningDepreciated">3.3 - Background Scanning Depreciated</h2>
<p class="empty">&nbsp;</p>
<p>As of version 3.0.0 there is no <code>/mm missing</code> and no background scan. The background scan would get hung up by repeated attempts to request more sales data from the server. When the server denied the request MM would continue to wait for the request to be approved.</p>
<p class="empty">&nbsp;</p>
<p>After starting a new library <a  href="https://github.com/ESOUIMods/LibGuildHistoryCache" >LibGuildHistoryCache</a> I observed that the cache mod would see some new sales. Usually there were only a few sales maybe 1 or 2 and occasionally less then 10. The cache mod would update showing that the guild history events were not duplicates but MM would not see them as new sales.</p>
<p class="empty">&nbsp;</p>
<p>One other calculation made was to try and get the first entry in the guild history and the last. This was used to attempt to determine whether or not to scan from the start of the guild history array, or the end. Whether or not you have 1, 100, or more then 1000 events the first event will always be the same. All guild history events are appended onto the end of the list.</p>
<p class="empty">&nbsp;</p>
<p>For reasons like these MM no longer uses a background scan as it attempted to scan from a specific point in time and loop over the guild history events.</p>
<p class="empty">&nbsp;</p>
<h2 class="header2" id="ThreestatesofLibHistoirecache">3.4 - Three states of LibHistoire cache</h2>
<p class="empty">&nbsp;</p>
<h3 id="Unlinked">3.4.1 - Unlinked</h3>
<p class="empty">&nbsp;</p>
<p>{% include image.html file="img/red_text_unlinked.jpg" alt="red_text_unlinked" %}</p>
<p class="empty">&nbsp;</p>
<p>In the Unlinked state you can either wait for the server to grant the requests for offline data that LibHistoire requests, or you can manually request guild history for the time you were offline.</p>
<p class="empty">&nbsp;</p>
<h3 id="Linkinginprogress">3.4.2 - Linking in progress</h3>
<p class="empty">&nbsp;</p>
<p>{% include image.html file="img/yellow_text_linking.jpg" alt="yellow_text_linking" %}</p>
<p class="empty">&nbsp;</p>
<p>Once LibHistoire has what I feels it needs, then it will begin processing the guild history events and attempt to link to the last known event.</p>
<p class="empty">&nbsp;</p>
<h3 id="Linked">3.4.3 - Linked</h3>
<p class="empty">&nbsp;</p>
<p>{% include image.html file="img/green_text_linked.jpg" alt="green_text_linked" %}</p>
<p class="empty">&nbsp;</p>
<p>Once LibHistoire has linked to its stored events you should see green text. This means that LibHistoire has finished processing the guild history.</p>
<p class="empty">&nbsp;</p>
<p class="note"> You can still request additional history and ask LibHistoire to check it using the refresh button.</p>
<p class="empty">&nbsp;</p>
<h2 class="header2" id="TenDayScan">3.5 - Ten Day Scan</h2>
<p class="empty">&nbsp;</p>
<p>After upgrading to 3.x you will need to do a Ten Day Scan of all the guilds you are in. This ensures that LibHistoire has stored sales data for you to start working with. stored data for you to recall as needed. After doing a ten day scan for each guild you only need to request guild history for the time you have been offline.</p>
<p class="empty">&nbsp;</p>
<h3 id="SelectAGuild">3.5.1 - Select A Guild</h3>
<p class="empty">&nbsp;</p>
<p>When you first log in there won’t be much as far as guild history loaded in memory.</p>
<p class="empty">&nbsp;</p>
<p>{% include image.html file="img/show_more.jpg" alt="show_more" %}</p>
<p class="empty">&nbsp;</p>
<p>In order to manually request sales data you have to choose a guild and select All, not purchases. Then press E about every 3 seconds.</p>
<p class="empty">&nbsp;</p>
<h3 id="WhenEisnolongershowing">3.5.2 - When E is no longer showing</h3>
<p class="empty">&nbsp;</p>
<p>{% include image.html file="img/10_days_sales.jpg" alt="show_more" %}</p>
<p class="empty">&nbsp;</p>
<p>Once you have scanned 10 days of sales then the option to press E will not be shown. This guild is more casual and if you are in a busy guild you may have to press E until you have 16,000 to 20,000 sales listed in the guild history.</p>
<p class="empty">&nbsp;</p>
<h3 id="LibHistoireGUI">3.5.3 - LibHistoire GUI</h3>
<p class="empty">&nbsp;</p>
<p>{% include image.html file="img/histy_gui.jpg" alt="histy_gui" %}</p>
<p class="empty">&nbsp;</p>
<p>As you perform a ten day scan the LibHistoire GUI will update. It might even finish processing a certain amount of events. For your first initial Ten Day Scan ignore what it is doing until you can no longer press E.</p>
<p class="empty">&nbsp;</p>
<h3 id="FinalizetheTenDayScan">3.5.4 - Finalize the Ten Day Scan</h3>
<p class="empty">&nbsp;</p>
<p>{% include image.html file="img/ten_day_scan_refresh.jpg" alt="ten_day_scan_refresh" %}</p>
<p class="empty">&nbsp;</p>
<p>After you no longer see the option to press E that means you have all the data the server will allow you to have. To finalize the Ten Day Scan press the refresh button. Yellow text will appear as it processes the guild history data.</p>
<p class="empty">&nbsp;</p>
<p class="note">Scanning 10 days of history every few days or every week is pointless and a drain on the server.</p>
<p class="empty">&nbsp;</p>
<h2 class="header2" id="UpdateYourGuildHistoryEachDay">3.6 - Update Your Guild History Each Day</h2>
<p class="empty">&nbsp;</p>
<p>{% include image.html file="img/histy_gui.jpg" alt="histy_gui" %}</p>
<p class="empty">&nbsp;</p>
<p>Regardless of how long you have been offline you need to update your guild history. To obtain older sales data for any time you have been offline you can wait for the server to send the data to LibHistoire. How quickly the server provides the data depends on many things. Because of that I do not wait. I manually scan the guild history from the guild history tab by <a  href="#SelectAGuild" >pressing E for Show More</a>.</p>
<p class="empty">&nbsp;</p>
<p>After I have enough guild history to cover the time I have been offline then I use the refresh button which asks LibHistoire to double check the sales loaded in memory are in the cache. Once LibHistoire has verified the sales data the text will turn green indicating that the <a  href="#Linked" >sales events are linked</a>.</p>
<p class="empty">&nbsp;</p>
<h2 class="header2" id="Erroneoustimestamp">3.7 - Erroneous timestamp</h2>
<p class="empty">&nbsp;</p>
<p>When you see an erroneous timestamp, LibHistoire will handle this internally. It will not be processed until the timestamp is updated properly by the server.</p>
<p class="empty">&nbsp;</p>
<p>{% include image.html file="img/1657months.jpg" alt="1657months" %}</p>
<p>{% include image.html file="img/71582789minutes.jpg" alt="71582789minutes" %}</p>
<p class="empty">&nbsp;</p>
<p>LibHistoire will send the sale to MM after it checks that the erroneous timestamp is no longer present.</p>
<p class="empty">&nbsp;</p>
<h2 class="header2" id="Whatisbeingscanned">3.8 - What is being scanned</h2>
<p class="empty">&nbsp;</p>
<p>When LibHistoire is scanning the guild history it is obtaining the sales from all the guild history that you have loaded into memory.</p>
<p class="empty">&nbsp;</p>
<h3 id="Afewdaysofsalesfrom109entries">3.8.1 - A few days of sales from 109 entries</h3>
<p class="empty">&nbsp;</p>
<p>{% include image.html file="img/shot_history.jpg" alt="shot_history" %}</p>
<p class="empty">&nbsp;</p>
<p>LibHistoire simply scan entries from the guild history. With another mod installed called <font class="purple">Shissu's Guild Tools</font> a count of the amount of entries is showing. As shown there are 109 entries which only covers a few minutes of sales.</p>
<p class="empty">&nbsp;</p>
<h3 id="4daysofsalesfrom8031entries">3.8.2 - 4 days of sales from 8031 entries</h3>
<p class="empty">&nbsp;</p>
<p>{% include image.html file="img/long_list.jpg" alt="shot_history" %}</p>
<p class="empty">&nbsp;</p>
<p>However, as shown in the above screen shot there are 8031 entries which covers 4 days of sales. If you feel you are missing sales from 7 days ago then you will need more sales showing on the guild history tab.</p>
<p class="empty">&nbsp;</p>
<h2 class="header2" id="SalesWeek">3.9 - Sales Week</h2>
<p class="empty">&nbsp;</p>
<p>As of  August 11 2020 the kiosk flip is now <a  href="https://forums.elderscrollsonline.com/en/discussion/540142/updates-to-guild-trader-swap-times/p1" >every Tuesday</a>. All sales totals are calculated from the time indicated by ZOS.</p>
<p class="empty">&nbsp;</p>
<p>You should not try to calculate your sales yourself. Each sale is saved with the exact time stamp the sale occurred. All sales even a few seconds prior to the kiosk flip would not show if you selected to see sales from This Week.</p>
<p class="empty">&nbsp;</p>
<p class="note">On the day of the kiosk flip sales for This Week will only reset after Zenimax transmits the new kiosk flip time. This can occur several hours after the kiosk flip.</p>
</div>
