---
layout: default
title: Master Merchant
---
<h1 class="header1">{{ page.title }}</h1>
<hr>
<h1 class="grhead1">Main Table of Contents</h1>
<div id="tableOfContents" class="grid-toc">
    <div class="toc1">
        <h2 class="grhead2"><a href="houses.html">Housing</a></h3>
        <h2 class="grhead2"><a href="3-master_merchant.html">Master Merchant</a></h3>
    </div>
    <div class="toc2">
        <h2 class="grhead2"><a href="1-install_luarocks.html">Installing LuaRocks</a></h3>
        <h2 class="grhead2"><a href="2-setup_intellij.html">Setup IntelliJ</a></h3>
    </div>
</div>
<p class="empty">&nbsp;</p>
<div>
<!-- Needed, sets the top of the page just before the H1 Title -->
<h2 class="header2" id="Contents">Contents</h2>
<p class="list-1">&bull;&nbsp; <a href="#Authors">3.1 Authors</a></p>
<p class="list-1">&bull;&nbsp; <a href="#Whatisbeingscanned">3.2 What is being scanned</a></p>
<p class="list-2">&bull;&nbsp; <a href="#Afewdaysofsalesfrom109entries">3.2.1 A few days of sales from 109 entries</a></p>
<p class="list-2">&bull;&nbsp; <a href="#4daysofsalesfrom8031entries">3.2.2 4 days of sales from 8031 entries</a></p>
<p class="list-1">&bull;&nbsp; <a href="#ManuallyupdatingGuildHistory">3.3 Manually updating Guild History</a></p>
<p class="list-2">&bull;&nbsp; <a href="#Whenyoufirstlogin">3.3.1 When you first log in</a></p>
<p class="list-2">&bull;&nbsp; <a href="#SelectAGuild">3.3.2 Select A Guild</a></p>
<p class="list-2">&bull;&nbsp; <a href="#WhenEisnolongershowing">3.3.3 When E is no longer showing</a></p>
<p class="list-1">&bull;&nbsp; <a href="#Myths">3.4 Myths</a></p>
<p class="list-2">&bull;&nbsp; <a href="#Displayingapercentageoftime">3.4.1 Displaying a percentage of time</a></p>
<p class="list-2">&bull;&nbsp; <a href="#Ittakestoolongtoscan">3.4.2 It takes too long to scan</a></p>
<p class="list-2">&bull;&nbsp; <a href="#NewAPI2021">3.4.3 New API 2021</a></p>
<p class="list-2">&bull;&nbsp; <a href="#olderdataunchanged">3.4.4 older data unchanged</a></p>
<p class="list-2">&bull;&nbsp; <a href="#olderintime">3.4.5 older in time</a></p>
<p class="list-2">&bull;&nbsp; <a href="#ReloadUI">3.4.6 Reload UI</a></p>
<p class="list-2">&bull;&nbsp; <a href="#StreamingData">3.4.7 Streaming Data</a></p>
<h2 class="header2" id="Authors">3.1 - Authors</h2>
<p class="empty">&nbsp;</p>
<p>Philgo68, khaibit, Sharlikran</p>
<p class="empty">&nbsp;</p>
<h2 class="header2" id="Whatisbeingscanned">3.2 - What is being scanned</h2>
<p class="empty">&nbsp;</p>
<p>When MM is telling you that it is scanning it is obtaining the number of sales in your guild history that you have loaded into memory and obtaining the data from the game for each entry.</p>
<p class="empty">&nbsp;</p>
<h3 id="Afewdaysofsalesfrom109entries">3.2.1 - A few days of sales from 109 entries</h3>
<p class="empty">&nbsp;</p>
<p>{% include image.html file="img/shot_history.jpg" alt="shot_history" %}</p>
<p class="empty">&nbsp;</p>
<p>MM and other guild related tools simply scan entries from the guild history. With another mod installed called Shissu's Guild Tools a count of the amount of entries is showing. As shown there are 109 entries which only covers a few minutes of sales.</p>
<p class="empty">&nbsp;</p>
<h3 id="4daysofsalesfrom8031entries">3.2.2 - 4 days of sales from 8031 entries</h3>
<p class="empty">&nbsp;</p>
<p>{% include image.html file="img/long_list.jpg" alt="shot_history" %}</p>
<p class="empty">&nbsp;</p>
<p>However, as shown in the above screen shot there are 8031 entries which covers 4 days of sales. If you feel you are missing sales from 7 days ago then you will need more sales showing on the guild history tab.</p>
<p class="empty">&nbsp;</p>
<p class="note">A specific range of sales can not be requested at this time and the ability to do so might not become available until 2021 as shown in this <a  href="#NewAPI2021" >response from ZOS</a>.</p>
<p class="empty">&nbsp;</p>
<h2 class="header2" id="ManuallyupdatingGuildHistory">3.3 - Manually updating Guild History</h2>
<p class="empty">&nbsp;</p>
<p>From what I can tell people feel that there is a cache or the server sends guild history to the user like a streaming video service. This is not the case. If you have 100 sales showing that covers a few minutes of sales, if you have 8000 sales that might cover 4 days of sales, or if you have 800 sales that covers 10 days of sales it doesn't matter. What you have loaded into memory is what is going to be scanned.</p>
<p class="empty">&nbsp;</p>
<h3 id="Whenyoufirstlogin">3.3.1 - When you first log in</h3>
<p class="empty">&nbsp;</p>
<p>{% include image.html file="img/no_sales_history.jpg" alt="no_sales_history" %}</p>
<p class="empty">&nbsp;</p>
<p>When you first log in there might be 0 sales in your guild history until you open the guild history. As shown in the above screen shot with some extra debug messages this was the case when I first logged in. What is shown for the current version is "no new sales" and it would probably be more informative to update the message as I have shown. It might even be helpful to show a reminder when you first log in that there is nothing in the guild history to scan yet. Maybe that would help people so they don't think something is wrong when they expect there to be hundreds of sales already pre loaded in memory waiting for them the second they log in.</p>
<p class="empty">&nbsp;</p>
<h3 id="SelectAGuild">3.3.2 - Select A Guild</h3>
<p class="empty">&nbsp;</p>
<p>{% include image.html file="img/show_more.jpg" alt="show_more" %}</p>
<p class="empty">&nbsp;</p>
<p>In order to manually request more sales data you have to choose a guild and select All, not purchases. Then press E about every 3 seconds.</p>
<p class="empty">&nbsp;</p>
<p class="note">Pressing E more frequently is pointless and the server can impose more restrictions as it sees fit as mentioned <a  href="#Ittakestoolongtoscan" >here</a>.</p>
<p class="empty">&nbsp;</p>
<h3 id="WhenEisnolongershowing">3.3.3 - When E is no longer showing</h3>
<p class="empty">&nbsp;</p>
<p>{% include image.html file="img/10_days_sales.jpg" alt="show_more" %}</p>
<p class="empty">&nbsp;</p>
<p>Once you have scanned 10 days of sales then the option to press E will not be shown. This guild is more casual and if you are in a busy guild you may have to press E until you have 16,000 to 20,000 sales listed in the guild history.</p>
<p class="empty">&nbsp;</p>
<h2 class="header2" id="Myths">3.4 - Myths</h2>
<p class="empty">&nbsp;</p>
<h3 class="header3" id="Displayingapercentageoftime">3.4.1 - Displaying a percentage of time</h3>
<p class="empty">&nbsp;</p>
<p>{% include image.html file="img/certain_amount_history.jpg" alt="certain_amount_history" %}</p>
<p class="empty">&nbsp;</p>
<section class="quote">
<p class="attr">Quote</p>
<p>Would it be possible to add back the scan % messages back to the verbose modes?</p>
</section>
<p> It has not been removed. It only happens during the background scan.</p>
<section class="quote">
<p class="attr">Quote</p>
<p>The method I used in the past for loading sales data for the period between my last login and my current login was to set verbosity to 4 so I could see the % of each guild scan. I would then run through each guild history sales (by pressing E) until MM showed 100% for that guild (I am never offline for more than 3 days so I always had full data). Once it hit 100% for a guild I would do the next guild. The entire process took less than a minute (despite being in several major trade guilds) and it always gave me full data each day.</p>
</section>
<p>The current message is not any indication that there is a certain amount of time being scanned.</p>
<p class="empty">&nbsp;</p>
<h3 class="header3" id="Ittakestoolongtoscan">3.4.2 - It takes too long to scan</h3>
<p class="empty">&nbsp;</p>
<p>{% include image.html file="img/every_three_seconds.jpg" alt="every_three_seconds" %}</p>
<p class="empty">&nbsp;</p>
<p>You can not request data faster.</p>
<p class="empty">&nbsp;</p>
<h3 class="header3" id="NewAPI2021">3.4.3 - New API 2021</h3>
<p class="empty">&nbsp;</p>
<p>{% include image.html file="img/new_api_2021.jpg" alt="new_api_2021" %}</p>
<p class="empty">&nbsp;</p>
<section class="quote">
<p class="attr">Quote</p>
<p>The method I used in the past for loading sales data for the period between my last login and my current login was to set verbosity to 4 so I could see the % of each guild scan. I would then run through each guild history sales (by pressing E) until MM showed 100% for that guild (I am never offline for more than 3 days so I always had full data). Once it hit 100% for a guild I would do the next guild. The entire process took less than a minute (despite being in several major trade guilds) and it always gave me full data each day.</p>
</section>
<p class="empty">&nbsp;</p>
<p>There has never been any way to scan a range of data. You get the initial 100 most recent sales, and then you can request more older sales. To do so press E on the guild history tab.</p>
<p class="empty">&nbsp;</p>
<h3 class="header3" id="olderdataunchanged">3.4.4 - older data unchanged</h3>
<p class="empty">&nbsp;</p>
<p>{% include image.html file="img/older_data-unchanged.jpg" alt="older_data-unchanged" %}</p>
<p class="empty">&nbsp;</p>
<section class="quote">
<p class="attr">Quote</p>
<p>I can scan days of history once a week.</p>
</section>
<p class="empty">&nbsp;</p>
<p>There is no point in doing this as you have already seen the data unless you didn't log in enough to keep your data up to date.</p>
<p class="empty">&nbsp;</p>
<h3 class="header3" id="olderintime">3.4.5 - older in time</h3>
<p class="empty">&nbsp;</p>
<p>{% include image.html file="img/older_in_time.jpg" alt="older_in_time" %}</p>
<p class="empty">&nbsp;</p>
<p>The server gives you older data when you request it by pressing E on the guild history tab. New sales are received when the server provides them.</p>
<p class="empty">&nbsp;</p>
<h3 class="header3" id="ReloadUI">3.4.6 - Reload UI</h3>
<p class="empty">&nbsp;</p>
<p>{% include image.html file="img/reloading.jpg" alt="reloading" %}</p>
<p class="empty">&nbsp;</p>
<p>Reloading the UI does not reset the history.</p>
<p class="empty">&nbsp;</p>
<h3 class="header3" id="StreamingData">3.4.7 - Streaming Data</h3>
<p class="empty">&nbsp;</p>
<p>{% include image.html file="img/steaming_data.jpg" alt="steaming_data" %}</p>
<p class="empty">&nbsp;</p>
<section class="quote">
<p class="attr">Quote</p>
<p>It worked fine this morning, but when I log in now, it tells me for 4 of my 5 guilds "Guild XY has no sales" (verbose 4) even though they are all trading guilds. Is there way to fix this? There should be several hundred new sales to scan.</p>
</section>
<section class="quote">
<p class="attr">Quote</p>
<p>I have no idea how else am I supposed to get any sales when MM got to about five hours worth of history in several hours of the game sitting idle.</p>
</section>
<p>MM can not request data like a streaming video server. If you do not have several hundred sales to scan in your guild history then you will not see the updates you expect.</p>
</div>
