---
layout: default
title: Master Merchant
---
<h1 class="header1">{{ page.title }}</h1>
<hr>
<h1 class="grhead1">Main Table of Contents</h1>
<div id="tableOfContents" class="grid-toc">
    <div class="toc1">
        <h2 class="grhead2"><a href="houses.html">Housing</a></h3>
        <h2 class="grhead2"><a href="3-master_merchant.html">Master Merchant</a></h3>
    </div>
    <div class="toc2">
        <h2 class="grhead2"><a href="1-install_luarocks.html">Installing LuaRocks</a></h3>
        <h2 class="grhead2"><a href="2-setup_intellij.html">Setup IntelliJ</a></h3>
    </div>
</div>
<p class="empty">&nbsp;</p>
<div>
<!-- Needed, sets the top of the page just before the H1 Title -->
<h2 class="header2" id="Contents">Contents</h2>
<p class="list-1">&bull;&nbsp; <a href="#Authors">3.1 Authors</a></p>
<p class="list-1">&bull;&nbsp; <a href="#VersionHistory">3.2 Version History</a></p>
<p class="list-1">&bull;&nbsp; <a href="#BackgroundScanningDepreciated">3.3 Background Scanning Depreciated</a></p>
<p class="list-1">&bull;&nbsp; <a href="#MonitoringIncomingGuildHistory">3.4 Monitoring Incoming Guild History</a></p>
<p class="list-1">&bull;&nbsp; <a href="#Erroneoustimestamp">3.5 Erroneous timestamp</a></p>
<p class="list-1">&bull;&nbsp; <a href="#Whatisbeingscanned">3.6 What is being scanned</a></p>
<p class="list-2">&bull;&nbsp; <a href="#Afewdaysofsalesfrom109entries">3.6.1 A few days of sales from 109 entries</a></p>
<p class="list-2">&bull;&nbsp; <a href="#4daysofsalesfrom8031entries">3.6.2 4 days of sales from 8031 entries</a></p>
<p class="list-1">&bull;&nbsp; <a href="#ManuallyupdatingGuildHistory">3.7 Manually updating Guild History</a></p>
<p class="list-2">&bull;&nbsp; <a href="#Whenyoufirstlogin">3.7.1 When you first log in</a></p>
<p class="list-2">&bull;&nbsp; <a href="#SelectAGuild">3.7.2 Select A Guild</a></p>
<p class="list-2">&bull;&nbsp; <a href="#WhenEisnolongershowing">3.7.3 When E is no longer showing</a></p>
<p class="list-1">&bull;&nbsp; <a href="#Myths">3.8 Myths</a></p>
<p class="list-2">&bull;&nbsp; <a href="#AutomaticallyRequestingDataFromTheServer">3.8.1 Automatically Requesting Data From The Server</a></p>
<p class="list-2">&bull;&nbsp; <a href="#Displayingapercentageoftime">3.8.2 Displaying a percentage of time</a></p>
<p class="list-2">&bull;&nbsp; <a href="#Ittakestoolongtoscan">3.8.3 It takes too long to scan</a></p>
<p class="list-2">&bull;&nbsp; <a href="#NewAPI2021">3.8.4 New API 2021</a></p>
<p class="list-2">&bull;&nbsp; <a href="#olderdataunchanged">3.8.5 older data unchanged</a></p>
<p class="list-2">&bull;&nbsp; <a href="#olderintime">3.8.6 older in time</a></p>
<p class="list-2">&bull;&nbsp; <a href="#ReloadUI">3.8.7 Reload UI</a></p>
<p class="list-2">&bull;&nbsp; <a href="#StreamingData">3.8.8 Streaming Data</a></p>
<h2 class="header2" id="Authors">3.1 - Authors</h2>
<p class="empty">&nbsp;</p>
<p>Philgo68, Khaibit, dOpiate, sirinsidiator, Garkin, Sharlikran</p>
<p class="empty">&nbsp;</p>
<h2 class="header2" id="VersionHistory">3.2 - Version History</h2>
<p class="empty">&nbsp;</p>
<p>Apparently for version 2.2.0 there was an experimental turbo mode added to MM. From the change log it appears that this was removed by request from Zenimax. However, even I noticed when you tried to download 2.2.1 which had turbo mode removed, you received a file named <font class="purple">Master Merchant 2.2.0.zip</font>. If you tried to engage turbo mode it was still available even if it didn't work as expected.</p>
<p class="empty">&nbsp;</p>
<p>Aug 01 2020 after the kiosk flip was announced Philgo68 posted that he would be uploading a new version, which would be 2.3.1. From the start it had a small bug in it that prevented it from working. Then after that was fixed people started reporting that the Master Merchant window would not update when you were viewing your personal sales but that all guild sales was still updating properly.</p>
<p class="empty">&nbsp;</p>
<p>Upon examination of the code 2.3.1 had turbo mode removed which was not really removed in 2.2.1 (2.2.0). In addition to that on the description page it was mentioned that there was Simple Indexing and Simple Scanning. Oddly those options included new options in the Addons menu to toggle the features on and off. These options were not present in 2.2.1.</p>
<p class="empty">&nbsp;</p>
<p>This makes me believe that 2.3.1 was really intended to be the proposed 2.2.1 but somehow the upload never went through properly. I am glad Philgo68 uploaded the version as it has helped me understand the code a bit more.</p>
<p class="empty">&nbsp;</p>
<h2 class="header2" id="BackgroundScanningDepreciated">3.3 - Background Scanning Depreciated</h2>
<p class="empty">&nbsp;</p>
<p>As of version 3.0.0 there is no <code>/mm missing</code> and no background scan. The background scan would get hung up by repeated attempts to request more sales data from the server. When the server denied the request MM would continue to wait for the request to be approved. While in reality if there were 100, 1000, or more sales events in the guild history MM would not attempt to scan them until it simply gave up and stopped scanning altogether. However, at that point you might have received a notification of no new sales.</p>
<p class="empty">&nbsp;</p>
<p>After starting a new library <a  href="https://github.com/ESOUIMods/LibGuildHistoryCache" >LibGuildHistoryCache</a> I observed that the cache mod would see some new sales. Usually there were only a few sales maybe 1 or 2 and occasionally less then 10. The cache mod would update showing that the guild history events were not duplicates but MM would not see them as new sales. This is why MM no longer uses a background scan as it attempted to scan from a specific point in time and loop over the guild history events.</p>
<p class="empty">&nbsp;</p>
<p>One other calculation made was to try and get the first entry in the guild history and the last. This was used to attempt to determine whether or not to scan from the start of the list or the end. Whether or not you have 1, 100, or more then 1000 events the first event will always be the same. All guild history events are appended onto the end of the list.</p>
<p class="empty">&nbsp;</p>
<h2 class="header2" id="MonitoringIncomingGuildHistory">3.4 - Monitoring Incoming Guild History</h2>
<p class="empty">&nbsp;</p>
<p>With version 3.0.0 any guild history update is examined and then MM will look for new sales and ignore the duplicates. All new sales coming in will be updated automatically as the server adds them to the guild history. However, to obtain older sales data for any time you have been offline you will need to manually scan the guild history from the guild history tab by <a  href="#SelectAGuild" >pressing E for Show More</a>. Not because anything has changed but because the server will deny the repeated automatic requests.</p>
<p class="empty">&nbsp;</p>
<p>To know when you no longer need more guild history you need to temporarily set the verbose level to 5 using <code>/mm verbose 5</code>. As you request more older sales data eventually you will catch up to where you were when you last logged out. At that point MM will notify you that it found no new sales.</p>
<p class="empty">&nbsp;</p>
<p>{% include image.html file="img/eventmonitor_notifications.jpg" alt="eventmonitor_notifications" %}</p>
<p class="empty">&nbsp;</p>
<p>I belong to three casual trading guilds. For the first you see in the Green box that there were about 106 new sales for the short amount of time I was offline. The second with the blue box only 3 new sales. The last is much busier even for a casual guild and for a few hours of sales 463 sales. You will know you are caught up when MM says it found no new sales.</p>
<p class="empty">&nbsp;</p>
<p class="note">This will only work as intended if you have done a 10 day scan for all the guilds you belong to after updating to 3.0.0. Otherwise there could be gaps in guild history you have not recorded in your MM database.</p>
<p class="empty">&nbsp;</p>
<p>After you are finished set the verbose level to 4 or lower. For the least amount of notifications but so you still receive any important information <code>/mm verbose 2</code> is a good option.</p>
<p class="empty">&nbsp;</p>
<h2 class="header2" id="Erroneoustimestamp">3.5 - Erroneous timestamp</h2>
<p class="empty">&nbsp;</p>
<p>When you see the notification <code>Erroneous timestamp for a sales event detected</code>, then the server has posted a recent sale with a time stamp that makes no sense. I have seen 1657 months ago or 71582789 minutes ago as shown.</p>
<p class="empty">&nbsp;</p>
<p>{% include image.html file="img/1657months.jpg" alt="1657months" %}</p>
<p>{% include image.html file="img/71582789minutes.jpg" alt="71582789minutes" %}</p>
<p class="empty">&nbsp;</p>
<p>What MM will do is go back to the last event that is not a duplicate sale and mark that event. Once the erroneous timestamp is corrected MM will pick up where it left off and add the sales with the proper timestamp. Without the proper timestamp I do not see how the sale could be listed accurately in the Master Merchant window. Not to mention that if the sale was recorded as being 1657 months ago, that would be more then one year which is the max setting for retaining data.</p>
<p class="empty">&nbsp;</p>
<h2 class="header2" id="Whatisbeingscanned">3.6 - What is being scanned</h2>
<p class="empty">&nbsp;</p>
<p>When MM is telling you that it is scanning it is obtaining the number of sales in your guild history that you have loaded into memory and obtaining the data from the game for each entry.</p>
<p class="empty">&nbsp;</p>
<h3 id="Afewdaysofsalesfrom109entries">3.6.1 - A few days of sales from 109 entries</h3>
<p class="empty">&nbsp;</p>
<p>{% include image.html file="img/shot_history.jpg" alt="shot_history" %}</p>
<p class="empty">&nbsp;</p>
<p>MM and other guild related tools simply scan entries from the guild history. With another mod installed called <font class="purple">Shissu's Guild Tools</font> a count of the amount of entries is showing. As shown there are 109 entries which only covers a few minutes of sales.</p>
<p class="empty">&nbsp;</p>
<h3 id="4daysofsalesfrom8031entries">3.6.2 - 4 days of sales from 8031 entries</h3>
<p class="empty">&nbsp;</p>
<p>{% include image.html file="img/long_list.jpg" alt="shot_history" %}</p>
<p class="empty">&nbsp;</p>
<p>However, as shown in the above screen shot there are 8031 entries which covers 4 days of sales. If you feel you are missing sales from 7 days ago then you will need more sales showing on the guild history tab.</p>
<p class="empty">&nbsp;</p>
<p class="note">A specific range of sales can not be requested at this time and the ability to do so might not become available until 2021 as shown in this <a  href="#NewAPI2021" >response from ZOS</a>.</p>
<p class="empty">&nbsp;</p>
<h2 class="header2" id="ManuallyupdatingGuildHistory">3.7 - Manually updating Guild History</h2>
<p class="empty">&nbsp;</p>
<p>From what I can tell people feel that there is a cache or the server sends guild history to the user like a streaming video service. This is not the case. If you have 100 sales showing that covers a few minutes of sales, if you have 8000 sales that might cover 4 days of sales, or if you have 800 sales that covers 10 days of sales it doesn't matter. What you have loaded into memory is what is going to be scanned.</p>
<p class="empty">&nbsp;</p>
<h3 id="Whenyoufirstlogin">3.7.1 - When you first log in</h3>
<p class="empty">&nbsp;</p>
<p>{% include image.html file="img/no_sales_history.jpg" alt="no_sales_history" %}</p>
<p class="empty">&nbsp;</p>
<p>When you first log in there might be 0 sales in your guild history until you open the guild history. As shown in the above screen shot with some extra debug messages this was the case when I first logged in. What some previous versions would show upon logging in was "no new sales". It would probably have been more informative to update the message as I have shown.</p>
<p class="empty">&nbsp;</p>
<h3 id="SelectAGuild">3.7.2 - Select A Guild</h3>
<p class="empty">&nbsp;</p>
<p>{% include image.html file="img/show_more.jpg" alt="show_more" %}</p>
<p class="empty">&nbsp;</p>
<p>In order to manually request more sales data you have to choose a guild and select All, not purchases. Then press E about every 3 seconds.</p>
<p class="empty">&nbsp;</p>
<p class="note">Pressing E more frequently is pointless and the server can impose more restrictions as it sees fit as mentioned <a  href="#Ittakestoolongtoscan" >here</a>.</p>
<p class="empty">&nbsp;</p>
<h3 id="WhenEisnolongershowing">3.7.3 - When E is no longer showing</h3>
<p class="empty">&nbsp;</p>
<p>{% include image.html file="img/10_days_sales.jpg" alt="show_more" %}</p>
<p class="empty">&nbsp;</p>
<p>Once you have scanned 10 days of sales then the option to press E will not be shown. This guild is more casual and if you are in a busy guild you may have to press E until you have 16,000 to 20,000 sales listed in the guild history.</p>
<p class="empty">&nbsp;</p>
<p class="note">Scanning 10 days of history every few days or every week is pointless and a drain on the server. Once you scan 10 days of data you only need to scan sales for the time you have been offline. If you have been offline less the 24 hours then request 1 day of sales and use <font class="purple">/mm missing</font> to scan the data.</p>
<p class="empty">&nbsp;</p>
<h2 class="header2" id="Myths">3.8 - Myths</h2>
<p class="empty">&nbsp;</p>
<h3 class="header3" id="AutomaticallyRequestingDataFromTheServer">3.8.1 - Automatically Requesting Data From The Server</h3>
<p class="empty">&nbsp;</p>
<p>{% include image.html file="img/serverrequests.jpg" alt="serverrequests" %}</p>
<p class="empty">&nbsp;</p>
<section class="quote">
<p class="attr">Quote</p>
<p>RequestMoreGuildHistoryCategoryEvents will return false if there are no more things to request, if you're on cooldown, or if its in the timeout window. Addons have a different timeout window and cooldown than ZOS code does, and that window can be server controlled. So they may set your cooldown/timeout way higher. Cooldown is 500 ms by default, but the server can set it to whatever it wants. The timeout is at least 3 minutes. Which I think means how long we'll wait for a server response before assuming one isn't coming and letting you try again. So if the server is busy and it's taking more than 5 seconds to get a response, we'll spit back false if you tried again. Non-addon has a 15 second timeout.</p>
<p class="empty">&nbsp;</p>
<p>It's heavily dependant on server load and whether or not they decided to throttle the pipe any. Typically they'd only throttle the pipe if there’s an issue at the time, but I really have no control or insight into those policies.</p>
</section>
<p class="empty">&nbsp;</p>
<h3 class="header3" id="Displayingapercentageoftime">3.8.2 - Displaying a percentage of time</h3>
<p class="empty">&nbsp;</p>
<p>{% include image.html file="img/certain_amount_history.jpg" alt="certain_amount_history" %}</p>
<p class="empty">&nbsp;</p>
<section class="quote">
<p class="attr">Quote</p>
<p>Would it be possible to add back the scan % messages back to the verbose modes?</p>
</section>
<p>It has not been removed in 3.0.0. It only happened during the background scan.</p>
<section class="quote">
<p class="attr">Quote</p>
<p>The method I used in the past for loading sales data for the period between my last login and my current login was to set verbosity to 4 so I could see the % of each guild scan. I would then run through each guild history sales (by pressing E) until MM showed 100% for that guild (I am never offline for more than 3 days so I always had full data). Once it hit 100% for a guild I would do the next guild. The entire process took less than a minute (despite being in several major trade guilds) and it always gave me full data each day.</p>
</section>
<p>The message was misleading because you still only processed 1 to X amount of records and only what was loaded into memory. The notification was never any real indication of actual progress based on time needed to complete the process.</p>
<p class="empty">&nbsp;</p>
<h3 class="header3" id="Ittakestoolongtoscan">3.8.3 - It takes too long to scan</h3>
<p class="empty">&nbsp;</p>
<p>{% include image.html file="img/every_three_seconds.jpg" alt="every_three_seconds" %}</p>
<p class="empty">&nbsp;</p>
<p>You can not request data faster.</p>
<p class="empty">&nbsp;</p>
<h3 class="header3" id="NewAPI2021">3.8.4 - New API 2021</h3>
<p class="empty">&nbsp;</p>
<p>{% include image.html file="img/new_api_2021.jpg" alt="new_api_2021" %}</p>
<p class="empty">&nbsp;</p>
<section class="quote">
<p class="attr">Quote</p>
<p>The method I used in the past for loading sales data for the period between my last login and my current login was to set verbosity to 4 so I could see the % of each guild scan. I would then run through each guild history sales (by pressing E) until MM showed 100% for that guild (I am never offline for more than 3 days so I always had full data). Once it hit 100% for a guild I would do the next guild. The entire process took less than a minute (despite being in several major trade guilds) and it always gave me full data each day.</p>
</section>
<p class="empty">&nbsp;</p>
<p>There has never been any way to scan a range of data. You get the initial 100 most recent sales, and then you can request more older sales. To do so press E on the guild history tab.</p>
<p class="empty">&nbsp;</p>
<h3 class="header3" id="olderdataunchanged">3.8.5 - older data unchanged</h3>
<p class="empty">&nbsp;</p>
<p>{% include image.html file="img/older_data-unchanged.jpg" alt="older_data-unchanged" %}</p>
<p class="empty">&nbsp;</p>
<section class="quote">
<p class="attr">Quote</p>
<p>I can scan days of history once a week.</p>
</section>
<p class="empty">&nbsp;</p>
<p>There is no point in doing this as you have already seen the data unless you didn't log in enough to keep your data up to date.</p>
<p class="empty">&nbsp;</p>
<h3 class="header3" id="olderintime">3.8.6 - older in time</h3>
<p class="empty">&nbsp;</p>
<p>{% include image.html file="img/older_in_time.jpg" alt="older_in_time" %}</p>
<p class="empty">&nbsp;</p>
<p>The server gives you older data when you request it by pressing E on the guild history tab. New sales are received when the server provides them.</p>
<p class="empty">&nbsp;</p>
<h3 class="header3" id="ReloadUI">3.8.7 - Reload UI</h3>
<p class="empty">&nbsp;</p>
<p>{% include image.html file="img/reloading.jpg" alt="reloading" %}</p>
<p class="empty">&nbsp;</p>
<p>Reloading the UI does not reset the history.</p>
<p class="empty">&nbsp;</p>
<h3 class="header3" id="StreamingData">3.8.8 - Streaming Data</h3>
<p class="empty">&nbsp;</p>
<p>{% include image.html file="img/steaming_data.jpg" alt="steaming_data" %}</p>
<p class="empty">&nbsp;</p>
<section class="quote">
<p class="attr">Quote</p>
<p>It worked fine this morning, but when I log in now, it tells me for 4 of my 5 guilds "Guild XY has no sales" (verbose 4) even though they are all trading guilds. Is there way to fix this? There should be several hundred new sales to scan.</p>
</section>
<section class="quote">
<p class="attr">Quote</p>
<p>I have no idea how else am I supposed to get any sales when MM got to about five hours worth of history in several hours of the game sitting idle.</p>
</section>
<p>MM can not request data like a streaming video server. If you do not have several hundred sales to scan in your guild history then you will not see the updates you expect.</p>
</div>
