---
layout: default
title: Master Merchant
---
<h1 class="header1">{{ page.title }}</h1>
<hr>
<h1 class="grhead1">Main Table of Contents</h1>
<div id="tableOfContents" class="grid-toc">
    <div class="toc1">
        <h2 class="grhead2"><a href="houses.html">Housing</a></h2>
    </div>
    <div class="toc2">
        <h2 class="grhead2"><a href="1-install_luarocks.html">Installing LuaRocks</a></h2>
        <h2 class="grhead2"><a href="2-setup_intellij.html">Setup IntelliJ</a></h2>
    </div>
</div>
<h1 class="grhead1">ESOUI Mod Documentation</h1>
<div id="tableOfContents" class="grid-mod-toc">
    <div class="toc3">
        <h2 class="grhead2"><a href="3-master_merchant.html">Master Merchant</a></h2>
    </div>
</div>
<h1 class="grhead1">Localized Suplimental Documentation</h1>
<div id="tableOfContents" class="grid-sup-toc">
    <div class="toc5">
        <h2 class="grhead2"><a href="4-french.html">Informations complementaires : Francais</a></h2>
    </div>
</div>
<p class="empty">&nbsp;</p>
<div>
<!-- Needed, sets the top of the page just before the H1 Title -->
<h1 class="header1" id="Enconstruction">En construction</h1>
<p class="empty">&nbsp;</p>
<p>{% include image.html file="img/under_construction.jpg" alt="under_construction" %}</p>
<p class="empty">&nbsp;</p>
<p>La section subira des modifications pour fournir des informations supplémentaires sur le MM en français.</p>
<p class="empty">&nbsp;</p>
<h2 class="header2" id="Contents">Contents</h2>
<p class="list-1">&bull;&nbsp; <a href="#LeTutodinstallationdeMasterMerchant">4.1 Le Tuto d'installation de Master Merchant</a></p>
<p class="list-2">&bull;&nbsp; <a href="#PourEnTerminerLeRappel">4.1.1 Pour En Terminer, Le Rappel</a></p>
<p class="list-1">&bull;&nbsp; <a href="#ReglagedeMasterMerchant3x">4.2 Reglage de Master Merchant 3.x</a></p>
<p class="empty">&nbsp;</p>
<h1 class="header1" id="LeTutodinstallationdeMasterMerchant">4.1 - Le Tuto d'installation de Master Merchant</h1>
<p class="empty">&nbsp;</p>
<p class="note"> Le didacticiel s'adresse à toute personne ayant besoin d'aide pour installer MM, mais il est destiné aux nouveaux arrivants.</p>
<p class="empty">&nbsp;</p>
<p>Première installation de Master Merchant 3.x ( MM) :</p>
<p class="empty">&nbsp;</p>
<p>1) Ouvrez Minion3, installez Master Merchant 3.0 ou mettez le à jour. <a  href="https://minion.mmoui.com/" >Minion</a></p>
<p class="empty">&nbsp;</p>
<p>On en profite pour ajouter également :</p>
<p class="empty">&nbsp;</p>
<p>LibAddonMenu</p>
<p>LibMediaProvider</p>
<p>LibGuildRoster</p>
<p>Libhistoire</p>
<p>LibAsync</p>
<p>LibDebugLogger</p>
<p>LibCustomMenu</p>
<p class="empty">&nbsp;</p>
<p>2) lancez le jeu ou faites une déco/reco complète du jeu ( pas de /reloadui sur une installation de ce genre d'addon).</p>
<p class="empty">&nbsp;</p>
<p>3) Allez dans l'onglet "Extensions" et vérifiez les Libs manquantes, ajoutez les avec Minion3 et faites cette fois ci un /reloadui.</p>
<p class="empty">&nbsp;</p>
<p>4) Ici plus bas, après le tuto d'installation, vous trouverez dans un tableau le réglage de guilde opti de MM, faites le exactement comme indiqué et terminez par un /reloadui.</p>
<p class="empty">&nbsp;</p>
<p>5) On va construire la database de MM manuellement, car Teso n'autorise plus  que les addons fassent des demandes d'ajout de données à la place des joueurs. Heureusement LIBHISTOIRE prendra le relais par la suite pour vous aider à garder la data base à jour. Pour ce faire il faut : ...</p>
<p class="empty">&nbsp;</p>
<p>6) ouvrir la page de guilde IG (en jeu):</p>
<p>Comptoir de Bordeciel, Historique, Ventes/tout... et affichez 10 jours d'historique de ventes avec la touche "[E] - afficher plus".</p>
<p class="empty">&nbsp;</p>
<p class="note"> cassez le rythme du spam [E] sinon le jeu va vous jeter dehors. Pour voir où vous en êtes dans le téléchargement des données vous pouvez dé-scroller les infos affichées à l'écran vers le bas. Quand la touche [E] disparaît c'est que vous avez tout reçu.</p>
<p class="empty">&nbsp;</p>
<p>7) INFO : Tous les jours il faudra aller sur "Ventes" pour ajouter les datas à Master Merchant. Mais il y suffira simplement de scanner "[E] - afficher plus" pour remplir les barres du tableau de LibHistoire , lorsque les barres sont bleues vous avez reçu toutes les données, poussez jusqu'à 2 jours pour éventuellement récupérer des données perdues par le serveur. LIBHISTOIRE réceptionne les données quand le serveur les diffusent à la connexion de votre compte, puis seulement au compte goûte quand Teso décide de les envoyer si l'état du serveur le permet. Si vous quittez le jeu et que le scan des données n'a pas été fait vous recevrez un notification vous invitant à le faire.</p>
<p class="empty">&nbsp;</p>
<p>8) L'addon est installé, le réglage est fait, la database est construite, on va maintenant attendre que l'addon mette en place les données collectées, ça peut prendre un petit temps, quelques minutes sans plus, donc on va se refaire une déco/reco complète...</p>
<p class="empty">&nbsp;</p>
<p>9) retour  sur la page d'entrée en jeu, celle avec la demande de mot de passe, et on relance le jeu...on laisse maintenant le temps à MM de construire votre database.</p>
<p class="empty">&nbsp;</p>
<p>10) Est ce que ça fonctionne ? Ouvrez la liste des effectifs de la guilde, vous devriez voir des colonnes en plus " achats/ventes/taxes/compter "  ( en bas elles sont réglées sur "AUJOURD'HUI" changez pour " CETTE SEMAINE".</p>
<p class="empty">&nbsp;</p>
<p>11) Ouvrez également votre "courrier reçu" et ouvrez "Master Merchant" avec son bouton dédié. Si vous voyez le tableau c'est parfait.</p>
<p class="empty">&nbsp;</p>
<p>12) Le tuto en image du fonctionnement du tableau est sur Discord également, sachez juste que ce tableau comporte deux types d'infos : des données en "chiffres" et en "articles" pour vos ventes ou celles des autres.</p>
<p class="empty">&nbsp;</p>
<h2 class="header2" id="PourEnTerminerLeRappel">4.1.1 - Pour En Terminer, Le Rappel</h2>
<p class="empty">&nbsp;</p>
<p>on n'oublie pas de passer tous les jours sur "Ventes" pour le scan des datas avec l'aide de l'HibHistoire 🙂 si vous ne le faites pas, vous recevrez une notification à la déco pour vous rappeler de le faire.</p>
<p class="empty">&nbsp;</p>
<p>Quand le serveur "chauffe", Teso arrête d'envoyer les données de gestion en temps réel, plus rien ne s'affiche depuis 1 ou 2h dans le tableau des ventes de la guilde par exemple. Il suffit de faire une déco/reco complète depuis le launcher pour simuler une première connexion, les dernières données vous seront envoyées et c'est dans la poche.</p>
<p class="empty">&nbsp;</p>
<p>Bon jeu et très bonnes ventes.</p>
<p class="empty">&nbsp;</p>
<h1 class="header1" id="ReglagedeMasterMerchant3x">4.2 - Reglage de Master Merchant 3.x</h1>
<p class="empty">&nbsp;</p>
<p>{% include image.html file="img/tutu_MM_menu_options.jpg" alt="tutu_MM_menu_options" %}</p>
<p class="empty">&nbsp;</p>
<p>Vous avez besoin de lunettes ? "Ouvrir l'original"</p>
</div>
