---
layout: default
title: ESOUI Code Collection
---
<h1 class="header1">{{ page.title }}</h1>
<hr>
<h1 class="grhead1">Main Table of Contents</h1>
<div id="tableOfContents" class="grid-toc">
    <div class="toc1">
        <h2 class="grhead2"><a href="houses.html">Housing</a></h3>
        <h2 class="grhead2"><a href="3-master_merchant.html">Master Merchant</a></h3>
    </div>
    <div class="toc2">
        <h2 class="grhead2"><a href="1-install_luarocks.html">Installing LuaRocks</a></h3>
        <h2 class="grhead2"><a href="2-setup_intellij.html">Setup IntelliJ</a></h3>
    </div>
</div>
<p class="empty">&nbsp;</p>
<div>
<!-- Needed, sets the top of the page just before the H1 Title -->
<h2 class="header2" id="Contents">Contents</h2>
<p class="list-1">&bull;&nbsp; <a href="#Currentmusthaveaddon">1.1 Current must have addon!</a></p>
<p class="list-1">&bull;&nbsp; <a href="#Allmyupdatedmods">1.2 All my updated mods</a></p>
<p class="list-1">&bull;&nbsp; <a href="#Usefulbeginnerandreturningplayervideo">1.3 Useful beginner and returning player video</a></p>
<p class="list-1">&bull;&nbsp; <a href="#ChaptersZoneDLCDungeonDLC">1.4 Chapters, Zone DLC, Dungeon DLC</a></p>
<p class="list-1">&bull;&nbsp; <a href="#LetstalkZoneandDungeonDLC">1.5 Let's talk Zone and Dungeon DLC.</a></p>
<p class="list-1">&bull;&nbsp; <a href="#WhatIrecommendedforDLC">1.6 What I recommended for DLC</a></p>
<p class="list-1">&bull;&nbsp; <a href="#Whattobuy">1.7 What to buy</a></p>
<p class="list-1">&bull;&nbsp; <a href="#ESOPlus">1.8 ESO Plus</a></p>
<h2 class="header2" id="Currentmusthaveaddon">1.1 - Current must have addon!</h2>
<p class="empty">&nbsp;</p>
<p>Do you need to know how many Potatoes you have? Does your guild have potato auctions? If so this mod is a Must have!</p>
<p class="empty">&nbsp;</p>
<p>{% include image.html file="img/TaterTotal.jpg" alt="Download" %}</p>
<p class="empty">&nbsp;</p>
<p><a  href="https://www.esoui.com/downloads/info2617-TaterTotal.html#info" >TaterTotal</a></p>
<p class="empty">&nbsp;</p>
<p>OMG how can you not have this!</p>
<p class="empty">&nbsp;</p>
<h2 class="header2" id="Allmyupdatedmods">1.2 - All my updated mods</h2>
<p class="empty">&nbsp;</p>
<p><a  href="https://github.com/ESOUIMods" >ESOUI Mods</a></p>
<p class="empty">&nbsp;</p>
<p>I have removed the LibStub requirements so they run without it. There is no need for LibStub because the functionality is now built into the game and some authors are simply to stubborn to remove it. Not having embedded libraries and removing LibStub really does help the mods run properly. I had one mod using Custom Compass Pins as an embedded library and when I updated it to the author's latest version it caused an error. Authors for ESO UI mods make the same kinds of mistakes that Nexus mod authors make in regards to optimization of the mods.</p>
<p class="empty">&nbsp;</p>
<h2 class="header2" id="Usefulbeginnerandreturningplayervideo">1.3 - Useful beginner and returning player video</h2>
<p class="empty">&nbsp;</p>
<p>{% include youtube.html id="cYcfm1Na5so" %}</p>
<p class="empty">&nbsp;</p>
<p>This is a good walkthrough of the game changes if you are a returning player. It is also a walkthrough of all the different aspects of the game. It is long but if you just bring it up on your phone and listen while you play you can think to yourself, "Yeah I know that, yeah I knew that, wait what was that?" and rewind it a bit for things you may not have known. It really is a good refresher for returning players.</p>
<p class="empty">&nbsp;</p>
<h2 class="header2" id="ChaptersZoneDLCDungeonDLC">1.4 - Chapters, Zone DLC, Dungeon DLC</h2>
<p class="empty">&nbsp;</p>
<p>This is up to date as of <B>03/28/2020</B></p>
<p class="empty">&nbsp;</p>
<p>To play and be in the guild or do anything you don't need anything but the base game. The restriction will be the Morrowind, Summerset, and Elsweyr chapters. If you do not have the chapters you can not access the Morrowind, Summerset, and Elsweyr areas.</p>
<p class="empty">&nbsp;</p>
<p><a  href="https://en.uesp.net/wiki/Online:Chapters" >Chapters</a></p>
<p class="empty">&nbsp;</p>
<h2 class="header2" id="LetstalkZoneandDungeonDLC">1.5 - Let's talk Zone and Dungeon DLC.</h2>
<p class="empty">&nbsp;</p>
<p><a  href="https://en.uesp.net/wiki/Online:DLC" >DLC</a></p>
<p class="empty">&nbsp;</p>
<p>Zone DLC would get you quests, content, story and skill lines. Dungeon DLC provides only Dungeon content which usually has a story and a quest.</p>
<p class="empty">&nbsp;</p>
<h2 class="header2" id="WhatIrecommendedforDLC">1.6 - What I recommended for DLC</h2>
<p class="empty">&nbsp;</p>
<p>Guilds and Glory</p>
<p class="list-1">-&nbsp; Dark Brotherhood - Zone DLC (Skill line, Quests, and Story)</p>
<p class="list-1">-&nbsp; Imperial City (FREE) - Zone DLC (PvP and PvE gameplay)</p>
<p class="list-1">-&nbsp; Orsinium - Zone DLC (Quests and Story)</p>
<p class="list-1">-&nbsp; Thieves Guild - Zone DLC (Skill line, Quests, and Story)</p>
<p class="empty">&nbsp;</p>
<p>Dragonhold - Zone DLC (Quests and Story)</p>
<p>Murkmire - Zone DLC (Quests and Story)</p>
<p>Clockwork City - Zone DLC (Quests and Story)</p>
<p class="empty">&nbsp;</p>
<h2 class="header2" id="Whattobuy">1.7 - What to buy</h2>
<p class="empty">&nbsp;</p>
<p><a  href="https://account.elderscrollsonline.com/store/product/eso_greymoor_edition_ce" >ESO Greymoor Edition - Bethesda link</a></p>
<p class="empty">&nbsp;</p>
<p>I don't know that they offer Morrowind, Summerset, and Elsweyr chapters ALL separately. At the moment I only see Elsweyr for 29.99 US. So I recommend the Greymoor Digital Collector's Edition because it comes with all the chapters. I do not think it comes with the DLC.</p>
<p class="empty">&nbsp;</p>
<p>Once you have that to have access to all content except dungeons you have two choices.</p>
<p class="empty">&nbsp;</p>
<p>1) Get ESO Plus. It comes with 1650 Crowns (Currency for in game micro purchases) and access to all the Zone and Dungeon DLC. There are other benefits see <a  href="#ESOPlussectiononthispage" >ESO Plus section on this page</a>. 2) Get the Greymoor CE to be up to date with all the chapters then for DLC Guilds and Glory, Dragonhold, Murkmire, and Clockwork City. This means you have all the content with no ESO Plus subscription. You can play any time off and on and never spend money on a subscription you are not using.</p>
<p class="empty">&nbsp;</p>
<h2 class="header2" id="ESOPlus">1.8 - ESO Plus</h2>
<p class="empty">&nbsp;</p>
<p><a  href="https://account.elderscrollsonline.com/store/product/eso_plus" >ESO Plus - Bethesda link</a></p>
<p class="empty">&nbsp;</p>
<p>So you can obviously read all that but from a players perspective what it gives you that is noticeably useful is bank space and bag space. Your bank is doubled in size and all crafting materials go into a virtual bag that is limitless in size. Meaning you loot like crazy and as long as they are crafting mats you will never run out of bag space. Other then that you have to sell it to a vender or break it down into materials for crafting. The other thing that is different is your small house has double the capacity for decorations.</p>
<p class="empty">&nbsp;</p>
<p>Then of course you have access to all the DLC content while ESO Plus is active.</p>
</div>
